section {
    header,
    footer {
        background-color: $color3;
    }
    &.header-body-footer {
        background-color: $color4;
        // padding: 1em;
    }

    .layout-outlet {
        background-color: $color2;
        display: flex;
        justify-content: center;
        padding: 1em;

        section {
            background-color: $color4;
            display: flex;
            height: 100vh; /* Fallback for browsers that do not support Custom Properties */
            height: calc(var(--vh, 1vh) * 100);
            // justify-content: center;
            padding: 1em;
        }
    }
}
