@keyframes moveObjects {
    0% {
        right: -200%;
    }
    100% {
        right: 100%;
    }
}

@keyframes moveRemoteObject {
    0% {
        right: 0%;
    }
    100% {
        right: 100%;
    }
}

@keyframes bumpyRide {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(-1deg);
        transform-origin: bottom left;
    }
    20% {
        transform: rotate(1deg);
        transform-origin: bottom right;
    }
    30% {
        transform: rotate(0deg);
    }
    40% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(2px);
    }
    60% {
        transform: translateY(0);
    }
    70% {
        transform: translateY(-1px);
    }
    80% {
        transform: translateY(1px);
    }
    90% {
        transform: translateY(0);
    }
}

.car-ride {
    display: block;
    height: 60px;
    background-color: rgb(133, 232, 241);
    position: relative;
    overflow: hidden;
}

.moving-object {
    display: block;

    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 5;

    animation-name: moveObjects;

    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.moving-object-a {
    background-color: rgb(218, 226, 183);
    height: 50px;
    width: 40px;
}

.moving-object-b {
    background-color: rgb(255, 0, 200);
    margin-right: 80px;
    height: 30px;
    width: 50px;
}
.moving-object-c {
    background-color: rgb(136, 255, 0);
    margin-right: 141px;
    height: 40px;
    width: 50px;
}

.moving-object-d {
    background-color: rgb(238, 255, 0);
    margin-right: 300px;
    height: 30px;
    width: 50px;
}
.moving-object-e {
    // background-color: rgb(238, 255, 0);
    // display: block;
    background-image: url("../../../public/images/palm-tree.png");
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 9px;
    height: 50px;
    margin-right: 500px;
    width: 50px;
}
.moving-object-f {
    // background-color: rgb(238, 255, 0);
    // display: block;
    background-image: url("../../../public/images/palm-tree-2.png");
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 9px;
    height: 50px;
    margin-right: 250px;
    width: 50px;
}

.moving-object-g {
    // background-color: rgb(238, 255, 0);
    // display: block;
    background-image: url("../../../public/images/palm-tree-3.png");
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 9px;
    height: 50px;
    margin-right: 180px;
    width: 50px;
}

.car {
    animation-direction: normal;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: bumpyRide;
    animation-timing-function: linear;
    background-image: url("../../../public/images/car-classic-small.png");
    background-size: contain;
    display: block;
    height: 33px;
    position: absolute;
    top: 23px;
    width: 104px;
    z-index: 7;
}

.sea {
    display: block;
    width: 100%;
    height: 23px;
    background-color: rgb(67, 143, 190);
    position: absolute;
    bottom: 0;
    z-index: 3;
}

.sail {
    animation-name: moveRemoteObject;
    animation-duration: 100s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    background-color: transparent;
    border-bottom: solid 5px transparent;
    border-left: solid 10px white;
    border-right: solid 10px transparent;
    border-top: solid 20px transparent;
    bottom: 16px;
    display: block;
    height: 0;
    right: 25%;
    margin-left: 83px;
    position: absolute;
    transform: rotate(3deg);
    width: 0;
    z-index: 4;
}

.road {
    display: block;
    width: 100%;
    height: 10px;
    background-color: lightgray;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 6;
}

@media only screen and (min-width: $widthSmallest) {
    .moving-object {
        animation-duration: 2s;
    }
}
@media only screen and (min-width: $width2ndSmall) {
    .moving-object {
        animation-duration: 10s;
    }
}
