.main-nav {
    background-color: $color1;
    padding: 1em;

    ul {
        background-color: $color2;
        display: flex;
        justify-content: center;
    }

    li {
        background-color: $color3;
        font-size: 1.4em;
        font-weight: 600;
        list-style: none;
        margin: 0 0.2em;
        min-width: 6em;
        padding: 0.5em;
        text-align: center;
        a {
            text-decoration: none;
        }
    }
}
