.main-nav {
    background-color: $color1;
    padding: 1em;

    ul {
        background-color: $color1;

        display: flex;
        justify-content: center;
    }

    li {
        background-color: $color4;
        font-size: 1.4em;
        font-weight: 600;
        list-style: none;
        margin: 0 0.2em;
        text-align: center;
        display: flex;

        a {
            border: 0.3em solid transparent;
            display: flex;
            justify-content: center;
            padding: 0.2em;
            text-decoration: none;
            width: 100%;
        }

        &.home {
            &.active {
                a {
                    border-color: $color2;
                    background-color: #fff;
                }
            }
            a {
                background-color: $color2;
                &:hover {
                    background-color: $color2light;
                }
            }
        }
        &.services {
            &.active {
                a {
                    border-color: $color5;
                    background-color: #fff;
                }
            }
            a {
                background-color: $color5;
                &:hover {
                    background-color: $color5light;
                }
            }
        }
        &.contacts {
            &.active {
                a {
                    border-color: $color3;
                    background-color: #fff;
                }
            }
            a {
                background-color: $color3;
                &:hover {
                    background-color: $color3light;
                }
            }
        }
    }
}

@media only screen and (min-width: $widthSmallest) {
    .main-nav {
        li {
            width: 100%;
            a {
                font-size: 0.8em;
            }
        }
    }
}
@media only screen and (min-width: $width2ndSmall) {
    .main-nav {
        li {
            width: 20%;
            a {
                font-size: 1em;
            }
        }
    }
}
