.testimonial {
    &__group {
        background-color: $color1; // debug
        padding: 1em;
    }
    &__element {
        // background-color: $color2;
        padding: 1em;

        blockquote {
            background-color: $color4;
            font-size: 1em;
            line-height: 1.2;
            padding: 1em;
        }
    }

    &__author {
        background-color: $color4;
        display: flex;
        justify-content: end;
        // padding: 1em;

        > div {
            background-color: $color4;
            padding: 0 0.5em 0.5em;
            margin: 0 0.5em 0.5em;
        }
        &_photo {
            display: none;
        }
    }
}

@media only screen and (min-width: $widthSmallest) {
    .testimonial {
        &__element {
            max-width: 300px;
        }
    }
}
@media only screen and (min-width: $width2ndSmall) {
    .testimonial {
        &__element {
            max-width: 500px;
        }
    }
}
