$color1: #ffcc6680;
$color2: #99e6ff80;
$color3: #00ff9980;
$color4: #ffffff80;
$color5: #ff471a80;

// section 2 for testing
$color1: #ffffff80;
$color2: #ffffff80;
$color3: #ffffff80;
$color4: #ffffff80;
$color5: #ffffff80;
