$color1: #ffcc00;
$color2: #00cc00;
$color3: #66ccff;
$color4: #ffffff; // #e6f7ff;
$color5: #ff6699;

$color1light: rgba(255, 204, 0, 0.5);
$color2light: rgba(0, 204, 0, 0.5);
$color3light: rgba(102, 204, 255, 0.5);
$color4light: rgba(230, 247, 255, 0.5);
$color5light: rgba(255, 51, 204, 0.5);

$color1pale: rgba(255, 204, 0, 0.2);
$color2pale: rgba(0, 204, 0, 0.2);
$color3pale: rgba(102, 204, 255, 0.2);
$color4pale: rgba(230, 247, 255, 0.2);
$color5pale: rgba(255, 51, 204, 0.2);

// colour version 2 for testing
// $color1: #ffffff80;
// $color2: #ffffff80;
// $color3: #ffffff80;
// $color4: #ffffff80;
// $color5: #ffffff80;

// colours version 3 for testing
// $color1: transparent;
// $color2: transparent;
// $color3: transparent;
// $color4: transparent;
// $color5: transparent;

//===========================
$widthSmallest: 220px;
$width2ndSmall: 720px;

//=======================

$testPaddSize: 1em;
$testMargSize: 1em;

//=======================
@mixin bkg_img($url) {
    background-image: url($url);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
