$authorPhotoSize: 300px;

.author__photo {
    background-image: url("../../../public/images/persons/author_w_flag-square.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    box-shadow: 1px 1px 30px 0px rgb(0, 0, 0, 0.5);
    height: $authorPhotoSize;
    width: $authorPhotoSize;
}

.page__section {
    &_e {
        .heading {
            h2 {
                background-color: rgba(255, 255, 255, 0.5);
                padding-left: 1em;
                padding-right: 1em;
                font-size: 2em;
            }
        }
    }
}

// https://imagecompressor.com/
@media only screen and (min-width: $widthSmallest) {
    .page__section {
        &_e {
            &:before {
                @include bkg_img(
                    "../../../public/images/places/cuba_map_large.jpg"
                );
            }
        }
    }
}
@media only screen and (min-width: $width2ndSmall) {
    .page__section {
        &_e {
            &:before {
                @include bkg_img(
                    "../../../public/images/places/cuba_map_min.jpg"
                );
            }
        }
    }
}
