@mixin bkg_img($url) {
    background-image: url($url);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.services {
    // display: flex;
    align-items: center;
    flex-direction: column;

    section {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0.5em;
        width: 100%;
    }

    .page__heading {
        background-color: $color5;
    }

    .page__section {
        position: relative;
        &:before {
            content: " ";
            display: block;
            height: 100%;
            left: 0;
            opacity: 0.5;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
    .page__section_a {
        // Habana

        // position: relative;
        &:before {
            @include bkg_img("../../../public/images/havana-wide.png");
        }
    }

    .page__section_b {
        // Habana
        &:before {
            @include bkg_img("../../../public/images/cayo-coco.jpg");
        }
    }

    .page__section_c {
        // Habana
        &:before {
            @include bkg_img("../../../public/images/matanzas.jpg");
        }
    }

    .page__section_d {
        // Habana
        &:before {
            @include bkg_img("../../../public/images/trinidad.jpg");
        }
    }

    .element {
        background-color: $color1;
        margin: 1em 0;
        max-width: 800px;
        z-index: 1; // because of bkg img is semi-opaque.
    }

    .part {
        background-color: $color5;
        display: flex;
        // justify-content: space-between;
        margin: 1em 0.5em;
    }
    .part-bit {
        background-color: $color1;
        flex-grow: 1;
        // flex-basis: 1em;
        flex-shrink: 1;
        margin: 0.3em 0.3em;
        padding: 0.3em 0.3em;

        ol {
            background-color: $color4;
            margin-left: 2em;
        }
    }
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;

    .heading {
        text-align: center;
    }

    .description {
        // display: flex;
        // flex-direction: column;
        // justify-content: flex-start;
    }
}

@media only screen and (min-width: 220px) {
    .services .part {
        flex-direction: column;
    }
}
@media only screen and (min-width: 720px) {
    .services .part {
        flex-direction: row;
    }
}
