@mixin bkg_img($url) {
    background-image: url($url);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page {
    .page__section {
        position: relative;
        &:before {
            content: " ";
            display: block;
            height: 100%;
            left: 0;
            opacity: 0.5;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}

// https://imagecompressor.com/
@media only screen and (min-width: $widthSmallest) {
    .services .part {
        flex-direction: column;
    }
    .page__section {
        &_a {
            &:before {
                @include bkg_img("../../../public/images/havana-wide-min.png");
            }
        }
        &_b {
            &:before {
                @include bkg_img("../../../public/images/cayo-coco-min.jpg");
            }
        }
        &_c {
            &:before {
                @include bkg_img("../../../public/images/matanzas-min.jpg");
            }
        }
        &_d {
            &:before {
                @include bkg_img("../../../public/images/trinidad-min.jpg");
            }
        }
    }
}
@media only screen and (min-width: $width2ndSmall) {
    .services .part {
        flex-direction: row;
    }
    .page__section {
        &_a {
            &:before {
                @include bkg_img(
                    "../../../public/images/havana-wide-large.png"
                );
            }
        }
        &_b {
            &:before {
                @include bkg_img("../../../public/images/cayo-coco-large.jpg");
            }
        }
        &_c {
            &:before {
                @include bkg_img("../../../public/images/matanzas-large.jpg");
            }
        }
        &_d {
            &:before {
                @include bkg_img("../../../public/images/trinidad-large.jpg");
            }
        }
    }
}
