.page {
    .page__section {
        position: relative;
        &:before {
            content: " ";
            display: block;
            height: 100%;
            left: 0;
            opacity: 0.5;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}

.my-carousel,
.my-tabs {
    width: 100%;
}
.my-tab-list {
    // border: 3px solid red;
    // align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    li {
        // border: 1px solid red;
        width: 100%;
        text-align: center;

        &:nth-child(1) {
            background-color: $color5pale;
            &.react-tabs__tab--selected {
                background-color: $color5;
            }
        }
        &:nth-child(2) {
            background-color: $color1pale;
            &.react-tabs__tab--selected {
                background-color: $color1;
            }
        }
        &:nth-child(3) {
            background-color: $color2pale;
            &.react-tabs__tab--selected {
                background-color: $color2;
            }
        }
        &:nth-child(4) {
            background-color: $color3pale;
            &.react-tabs__tab--selected {
                background-color: $color3;
            }
        }
    }
}

.page__section_tabs {
    p {
        display: flex;
        font-size: 1em;
        padding: 1em;
    }
}

// https://imagecompressor.com/
@media only screen and (min-width: $widthSmallest) {
    .page__section {
        &_a {
            &:before {
                @include bkg_img("../../../public/images/havana-wide-min.png");
            }
        }
        &_b {
            &:before {
                @include bkg_img("../../../public/images/cayo-coco-min.jpg");
            }
        }
        &_c {
            &:before {
                @include bkg_img("../../../public/images/matanzas-min.jpg");
            }
        }
        &_d {
            &:before {
                @include bkg_img("../../../public/images/trinidad-min.jpg");
            }
        }
    }
    .page__section_tabs {
        display: block !important;
    }
}
@media only screen and (min-width: $width2ndSmall) {
    .page__section {
        &_a {
            &:before {
                @include bkg_img(
                    "../../../public/images/havana-wide-large.png"
                );
            }
        }
        &_b {
            &:before {
                @include bkg_img("../../../public/images/cayo-coco-large.jpg");
            }
        }
        &_c {
            &:before {
                @include bkg_img("../../../public/images/matanzas-large.jpg");
            }
        }
        &_d {
            &:before {
                @include bkg_img("../../../public/images/trinidad-large.jpg");
            }
        }
    }
    .page__section_tabs {
        display: none !important;
    }
}
